{% extends " layout.njk" %}

{% block content %}

        <div id="wrapper">
            <img class="logo" src="https://pbs.twimg.com/profile_images/1271517147349626881/Mf1UjRa0_400x400.jpg" alt="RocketSeat">
            <h1>Rocketseat</h1>
            <h2>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível!!!</h2>
            <h3>Principais tecnologias utilizadas:</h3>

            <div class="technologies">
                <figure>
                    <img src="https://rocketseat.com.br/static/images/update/curso-javascript.svg" alt="Javascript">
                    <figcaption>
                        Javascript
                    </figcaption>
                </figure>
                <figure>
                    <img src="https://rocketseat.com.br/static/images/update/curso-nodejs.svg" alt="Node.Js">
                    <figcaption>
                        Node.Js
                    </figcaption>
                </figure>
                <figure>
                    <img src="https://rocketseat.com.br/static/images/update/curso-reactjs.svg" alt="ReactJs">
                    <figcaption>
                        ReactJs
                    </figcaption>
                    <!--Legenda da foto-->
                </figure>
                <figure>
                    <img src="https://rocketseat.com.br/static/images/update/curso-react-native.svg" alt="React Native">
                    <figcaption>
                        React Native
                    </figcaption>
                </figure>
                <!-- <ul> <li>Javascript</li> <li>NodeJs</li> <li>ReactJs</li> <li>React Native</li> </ul>-->
            </div>
        </div>

        <div id="links-footer" class="links">
            <a href="https://github.com/Rocketseat" target="_blank">Github</a>
            <a href="https://twitter.com/rocketseat" target="_blank">Twitter</a>
            <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
        </div>

{% endblock %}