<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Estilo.css">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon"/>
    <title>Rocketseat</title>
</head>
<body>
    <div id="wrapper">
        <img src="../img/rocketseat.png" alt="RocketSeat">
        <h1>Rocketseat</h1>
        <h2>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível!!!</h2>
<h3>Principais tecnologias utilizadas:</h3>
                 <ul>
            <li>Javascript</li>
            <li>NodeJs</li>
            <li>ReactJs</li>
            <li>React Native</li>
        </ul>
    </div>



    <div id="links-footer" class="links">
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://twitter.com/rocketseat" target="_blank">Twitter</a>
        <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
    </div>
</body>
</html>