{% extends "layout.njk "%}

{% block content %}
    <div class="wrapper">
        <img class="logo" src="C:\Users\Bruno Victor\Desktop\LAUNCHBASE 2.0\desafio\img\BMG_Logo.jpg" alt="logo BMG">
        <h1>BMG - Manutenções</h1>
        <p>
              No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa. A BMG -Manutenções trabalha com as melhores tecnologias/ferramentas do momento.   
        </p>

        <p class="technology">Principais tecnologias utilizadas em nossos trabalhos</p>
        <div class="technologies">

                <figure>
                    <img src="https://rocketseat.com.br/static/images/update/curso-javascript.svg" alt="javascript">
                    <figcaption>javascript</figcaption>
                </figure>
                <figure>
                    <img src="https://rocketseat.com.br/static/images/update/curso-nodejs.svg" alt="node.js">
                    <figcaption>NodeJs</figcaption>
                </figure>
                <figure>
                    <img src="https://rocketseat.com.br/static/images/update/curso-reactjs.svg" alt="reactjs">
                    <figcaption>ReactJS</figcaption>
                </figure>
                <figure>
                    <img src="https://rocketseat.com.br/static/images/update/curso-react-native.svg" alt="react native">
                    <figcaption>React Native</figcaption>
                </figure>
            </div>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/bruno-victor32" target="_blank" rel="noopener noreferrer">Github</a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">Instagram</a>
        <a href="https://twitter.com/explore" target="_blank" rel="noopener noreferrer">Twitter</a>
    </div>
{% endblock %}